*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

body{
    margin-bottom: 50px;
}

header{
    margin-left: 70px;
    margin-top: 20px;
    margin-bottom: 30px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.hero{
    margin-left: 70px;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.hero-bg-img{
    display: flex;
    width: 45%;
    border-radius: 10px;
    position: absolute;
}

.hero-sml-img-container{
    display: flex;
    flex-direction: column;
}

.hero-sml-img{
    display: flex;
    width: 30%;
    border-radius: 10px;
    flex-direction: row;
    margin-bottom: 10px;
}

.hero-sml-img-2{
    margin-left: 432%;
    width: 250px;
}

.hero-sml-img-3{
    margin-left: 290%;
    width: 210px;
}

.container-2{
    margin-left: 70px;
    margin-top: 4%;
    padding-right: 36%;
}

.container-2-h2{
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}

.container-2-p{
    font-weight: 100;
    font-size: 20px;
    margin-top: 1%;
}

.container-3{
    margin-left: 70px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
}

.container-3-descr{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.money-value{
    margin-top: 8px;
    margin-left: 600px;
    display: flex;
    flex-direction: column;
    border: 2px solid;
    border-radius: 7px;
    padding: 20px 30px;
    position: absolute;
}

.money-value-text{
    margin-bottom: 10px;
    margin-left: 26%;
}

.btn{
    border: 0px solid;
    border-radius: 7px;
    background-color: lightgray;
    text-decoration: none;
    color: black;
    font-weight: 700;
    padding: 10px 30px;
    font-size: 20px;
    transition: .3s;
}

.btn:hover{
    background-color: grey;
}

.icons{
    margin-left: 20px;
    margin-top: 0px;
    font-size: 30px;
}

.icon-descr{
    font-size: 1px;
    transition: .3s;
    background-color: black;
    border-radius: 2px;
    margin-left: 10px;
}

.icon-descr:hover{
    font-size: 13px;
    background-color: transparent;
    margin-left: 10px;
}

.top-icons{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin-top: 15px ;
}

.bot-icons{
    display: flex;
    flex-direction: row;
}

.each-icon{
    margin-left: 60px;
}


