*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

:root{
    --color-blue: #4682B4
}

header{
    background-color:bisque
}

.header-title{
    align-items: center;
    text-align: center;
}

.logo{
    color: var(--color-blue);
}

.container{
    align-items: center;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero{
    margin-left: 50px;
    display: flex;
    flex-direction: row;

}